@charset "UTF-8";


:root{
    --cor0:#49a09d;
    --cor1:#5f2c82;
    --imagem:url("../imagens/imgfundo.jpg");
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color:var(--cor1);
    height: 100vh;
    width: 100vw;

}

main{
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

}

section#login > div#imagem {
    display: block;
    background: var(--cor1) var(--imagem) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center bottom;
    
}

section#login > div#formulario{
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p {
    font-size: 0.8em;

}

form > div.campo {
    background-color: var(--cor1);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor0);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

form > input[type="submit"]:hover {
    background-color: rgb(124, 218, 247);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor0);
    border: 1px solid blue;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 5px;
}

form > a.botao:hover {
    background-color: rgb(124, 218, 247);
    color: blue;
}

form > a.botao > i {
    font-size: 0.8em;
}

