@charset "UTF-8";


:root{
    --cor0:#49a09d;
    --cor1:#5f2c82;
    --imagem:url("../imagens/imgfundo.jpg");
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color:var(--cor1);
    height: 100vh;
    width: 100vw;

}

main{
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

}

section#login > div#imagem {
    display: block;
    background: var(--cor1) var(--imagem) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center bottom;
    
}

section#login > div#formulario{
    display: block;
    padding: 10px;

}
